@model FrontEnd.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAccounts.cshtml";
}

<h1>Crear</h1>

<h4>crear una nueva cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Schedule.TimeOfDay" class="control-label"></label>
                @Html.DropDownListFor(model => model.ScheduleId, new SelectList(Model.Schedules, "ScheduleId", "TimeOfDay"), "--Select--")
                <span asp-validation-for="Schedule.TimeOfDay" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="Paciente" class="btn btn-primary">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
