@model FrontEnd.Models.PatientViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccounts.cshtml";
}

<h1>Crear</h1>

<h4>Crear nuevo paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Identification" class="control-label"></label>
                <input asp-for="Identification" class="form-control" />
                <span asp-validation-for="Identification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Education.Level" class="control-label"></label>
                @Html.DropDownListFor(model => model.EducationId, new SelectList(Model.Educations, "EducationId", "Level"), "--Select--")
                <span asp-validation-for="Education.Level" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Crear nuevo paciente" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
